<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>posts of personal </title>
   <link rel="stylesheet" href="/style.css">
   <link rel="stylesheet" href="/but.css">
</head>
<body>
   <h1>Quora Post</h1>
   <% for(let post of posts){%>
    
   <div class="post">
   <h3 class="user"> <span>username</span>:  @<%= post.username%> </h3>
   <h4> :)-   <%= post.content%></h4>

   <a style="color:rgb(234, 238, 11)" href="/post/<%= post.id %>">see in detail</a> &nbsp;

   <a style="color:rgb(234, 238, 11)" href="/post/<%= post.id%>/edit">Edit Post</a>  <br>
 <br>
   <form method="post" action="/post/<%= post.id%>?_method=DELETE">
       &nbsp; <button class="delete">Delete Post</button>
   </form>
   <br>
   </div> 
      
   
      <% } %> <br> <br>

      <a style="font-weight: 800; font-size: 20px;" href="http://localhost:7070/posts/new">create a new post</a>
   
</body>
</html>